/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #FF3E91
$textColor = #595758
$borderColor = #eaecef
$codeBgColor = #282c34
$bgColor = #FFF8FA
$darkBorderColor = #5C1936
// $headerBgColor = $FF92C2;

$footerBgColor = $darkTextColor
$footerColor = #FF3E91
